<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top ">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="/images/retireeaselogo.png" class="logo">
      <span class="fw-semibold text-primary d-none d-md-inline">RetireEase</span>
    </a>

    <!-- <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="fs-3 text-primary">☰</span>
    </button> -->
<button class="navbar-toggler border-0" type="button"
        data-bs-toggle="collapse" data-bs-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto gap-3 align-items-center">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/health" class="nav-link">Health</a></li>
        <li><a href="/finance" class="nav-link">Finance</a></li>
        <li><a href="/community" class="nav-link">Community</a></li>
         <% if(!currUser)  {%>
        <li><a href="/login" class="btn btn-login btn-outline-primary rounded-pill px-3">Login</a></li>
        <li><a href="/signup" class="btn btn-signup btn-primary rounded-pill px-3">Sign Up</a></li>
        <% } %>
      <% if (currUser) { %>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
     data-bs-toggle="dropdown" aria-expanded="false">
      👤 <strong><%= currUser.username %></strong>
  </a>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">

    <!-- <li>
      <a class="dropdown-item" href="/user/addpic">
        📷 Add Profile Picture
      </a>
    </li>
    <hr> -->
    <li>
      <a class="dropdown-item" href="/myblogs">
        My Posts
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>

    <li>
      <a class="dropdown-item text-danger" href="/logout">
        🚪 Logout
      </a>
    </li>

  </ul>
</li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>